<h2>Programme</h2>

<table class="table slot-grid">
    <thead class="thead-default">
    <tr>
        {{#each themes as |theme|}}
            <th>{{theme.title}}</th>
        {{/each}}
    </tr>
    </thead>
    <tbody id="rows">
        {{{rows}}}
    </tbody>
</table>