<div class="container">
    <div class="row">
        {{x-slot-grid class='col-md-7' themes=themes}}
        {{x-slot-form class='col-md-4 col-md-offset-1' themes=themes addSlot=(action 'addSlot')}}
    </div>
</div>